.contenedorGeneralCart,
.cartCard {
    margin-left: 20px;
}



.cartTitle {
    margin-block: 2rem;
}

.btnVaciar {
    color: white;
    margin-block: .7rem;
    border-radius: 8px;
    height: 2.5rem;
}

.productContainer {
    background-color: blanchedalmond;
    margin: 5px 0px 0px -20px;
    padding: 5px 2px 0px 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.btnDeleteContainer {
    /* position: absolute; */
    right: 5%;

}

.cart-btn-container{
    display: flex;
    align-items:    last baseline;
    justify-content: space-between;
}
.btn-checkout{
    margin-right: 40px;
}

.btnsContainer{
    display:flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}

.btnsContainer Button{
    max-width: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}