.itemCountContainer {

    display: flex;
    gap: 10px;
    align-items: baseline;

}

Card {
    box-shadow: 10px 5px 5px black;
}

.contenedor-btns {
    display: flex;
    gap: 10px;
    align-items: space-around;
    margin: 10px auto
}