.carouselImg {
    width: 100vw;
    max-height: 89.7vh;
    filter: brightness(65%);
    object-fit: cover
}

@media (max-width:1500px) {
    .carouselImg {

        min-height: 90vh;
        object-fit: cover
    }
}

.carouselLinks {

    background-color: transparent;
    color: white;
    text-decoration: none;
}

button {
    border: none;
    background-color: rgb(68, 44, 19);
    padding: 10px;
    transition: 250ms;
}

button:hover {
    background-color: rgb(44, 29, 12);
}

.carouselText {
    color: #fff;


}