.nav {
    background-color: peru;
    max-width: 100%;
}

.contenedorCarrito {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    color: white;
    text-decoration: none;
    
}

#basic-nav-dropdown {
    color: white
}